In [94]:
import numpy as np
import pandas as pd 
#output two vectors, one is the prob of a combination, the other is combination
def get_df(n,p):
    n_cases=2**n
    lst_combination=[]
    lst_prob=[]
    for i in range(n_cases):
        x=bin(i).replace('b','0') # convert into binary number with 0/1, 0=tails,1=heads
        if len(x)<n:
            x=x.zfill(n)
        elif len(x)>n:
            x=x[-n:len(x)]
        n_heads=x.count('1')
        n_tails=x.count('0')
        prob=(p**n_heads)*((1-p)**n_tails)
        lst_prob.append(prob)
        lst_combination.append(x)
    df=pd.DataFrame(columns=['Combination','Probability'])
    df['Combination']=pd.Series(lst_combination)
    df['Probability']=pd.Series(lst_prob)
    return df

In [95]:
df=get_df(5,0.5)

In [100]:
df
def get_point(string):
    sum1=0
    for i in string:
        if i == '0':
            sum1=sum1*2
        else:
            sum1+=1
    return sum1
lst_point=[]
for string in df['Combination']:
    point=get_point(string)
    lst_point.append(point)
df['Point']=pd.Series(lst_point)
df.head(20)

   Combination  Probability  Point
0        00000      0.03125      0
1        00001      0.03125      1
2        00010      0.03125      2
3        00011      0.03125      2
4        00100      0.03125      4
5        00101      0.03125      3
6        00110      0.03125      4
7        00111      0.03125      3
8        01000      0.03125      8
9        01001      0.03125      5
10       01010      0.03125      6
11       01011      0.03125      4
12       01100      0.03125      8
13       01101      0.03125      5
14       01110      0.03125      6
15       01111      0.03125      4
16       10000      0.03125     16
17       10001      0.03125      9
18       10010      0.03125     10
19       10011      0.03125      6

In [114]:
def exp(df):
    vector_points=np.array(df['Point'])
    vector_prob=np.array(df['Probability'])
    exp=np.dot(vector_points,vector_prob)
    return exp
exp(df)

6.59375

In [113]:
vector_points=np.array(df['Point'])
# vector_points=vector_points.reshape([-1,1])
vector_prob=np.array(df['Probability'])
np.dot(vector_points,vector_prob)

6.59375

In [118]:
df1=get_df(15,0.5)
lst_point=[]
for string in df1['Combination']:
    point=get_point(string)
    lst_point.append(point)
df1['Point']=pd.Series(lst_point)
exp(df1)

436.8938903808594

In [154]:
df_10flip=get_df(10,0.5)
lst_point=[]
for string in df_10flip['Combination']:
    point=get_point(string)
    lst_point.append(point)
df_10flip['Point']=pd.Series(lst_point)
df_10flip.describe()
n_biggest=np.log2(df_10flip['Point'].max())
n_array=np.arange(n_biggest+1)
n_power2=2 ** n_array
n_total=df_10flip.shape[0]
n_prefered=df_10flip[(df_10flip['Point'].isin(n_power2)==True)].count()[0]
prob1=n_prefered/n_total

In [159]:
def std(df):
    E=exp(df)
    vector_prob=np.array(df['Probability'])
    var=np.sum(E*vector_prob)
    std=np.sqrt(var)
    return std
std(df_10flip)
std(df1)
std(df)

2.5678298230217673

In [162]:
df2=get_df(10,2/3)
lst_point=[]
for string in df2['Combination']:
    point=get_point(string)
    lst_point.append(point)
df2['Point']=pd.Series(lst_point)
exp(df2)

33.5154532676252

In [175]:
# Because this is a symetric game and we search from 0 to 0.5 with 0.01 as our gap
sample_space=np.arange(0,0.5,0.01)
exp_max=0
for prob in sample_space:
    df_new=get_df(10,prob)
    lst_point=[]
    for string in df_new['Combination']:
        point=get_point(string)
        lst_point.append(point)
    df_new['Point']=pd.Series(lst_point)
    exp1=exp(df_new)
    if exp1 >exp_max:
        exp_max=exp1
        prob_optimize=float(prob)
    else: continue
print(exp_max,prob_optimize)

89.85213802726498 0.23

In [172]:
df_10flip

     Combination  Probability  Point
0     0000000000     0.000977      0
1     0000000001     0.000977      1
2     0000000010     0.000977      2
3     0000000011     0.000977      2
4     0000000100     0.000977      4
...          ...          ...    ...
1019  1111111011     0.000977     16
1020  1111111100     0.000977     32
1021  1111111101     0.000977     17
1022  1111111110     0.000977     18
1023  1111111111     0.000977     10

[1024 rows x 3 columns]