In [1]:
import numpy as np
import pandas as pd

In [2]:
file='Historical_DOB_Permit_Issuance.csv'
df=pd.read_csv(file)
df.head(10)

/Users/jamestang1/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (8,9,10,15,31,33,36,51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,BOROUGH,BIN,Number,Street,Job #,Job doc. #,Job Type,Self_Cert,Block,Lot,...,Owner’s House State,Owner’s House Zip Code,Owner's Phone #,DOBRunDate,Latitude,Longitude,Council District,Census Tract,BBL,NTA
0,BRONX,2118801,2960,WEBSTER AVENUE,201088492,4,NB,NaN,3274,4,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.867490,-73.883225,11.0,425.0,2.032740e+09,Norwood ...
1,BRONX,2096812,100,DEKRUIF PLACE,200716298,2,A2,NaN,5141,120,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.875769,-73.828899,12.0,46201.0,2.051410e+09,Co-op City ...
2,BRONX,2008604,1898,HARRISON AVENUE,200974650,2,A2,NaN,2869,87,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.852603,-73.911461,14.0,243.0,2.028690e+09,University Heights-Morris Heights ...
3,BRONX,2007652,1998,MORRIS AVENUE,200278118,2,A1,NaN,2807,15,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.851661,-73.906937,14.0,241.0,2.028070e+09,Mount Hope ...
4,BRONX,2084155,565,WEST 235 STREET,201119173,2,A2,Y,5794,484,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.885720,-73.910270,11.0,297.0,2.057940e+09,Spuyten Duyvil-Kingsbridge ...
5,BRONX,2012264,606,EAST FORDHAM ROAD,200089251,2,A1,NaN,3078,16,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.858324,-73.884836,15.0,389.0,2.030780e+09,Belmont ...
6,BRONX,2103486,730,CONCOURSE VILLAGE WEST,200896762,2,NB,Y,2443,78,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.822310,-73.923829,17.0,61.0,2.024430e+09,East Concourse-Concourse Village ...
7,BRONX,2000391,345,BROOK AVENUE,201015613,2,A2,Y,2286,36,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.810040,-73.917792,8.0,41.0,2.022860e+09,Mott Haven-Port Morris ...
8,BRONX,2011594,4487,THIRD AVENUE,200348524,3,NB,Y,3051,45,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.853237,-73.891742,15.0,385.0,2.030510e+09,Claremont-Bathgate ...
9,BRONX,2001106,575,WALTON AVENUE,200920049,2,A1,NaN,2352,43,...,NaN,NaN,NaN,2016-01-03T00:00:00,40.819464,-73.928110,8.0,63.0,2.023520e+09,West Concourse ...

In [3]:
filing_status=df['Filing Status']
dic=dict(filing_status.value_counts().items())
prportion=dic['RENEWAL']/sum(dic.values())
print(prportion)

0.23756920864755

In [4]:
# second question
df_renewed=df[df['Filing Status']=='RENEWAL']
df_type=df_renewed['Owner\'s Business Type']
dic=dict(df_type.value_counts().items())
ratio=dic['CORPORATION']/dic['INDIVIDUAL']
print(ratio)

1.0805818771914573

In [5]:
# third question

In [6]:
import datetime
#remove NAH data
df1=df[pd.isna(df['Issuance Date'])==False]
df1=df1[pd.isna(df1['Expiration Date'])==False]

In [7]:
def compare(df):
    lst=[]
    df1=df[['Issuance Date','Expiration Date']]
    for ind in df1.index: 
        start=datetime.datetime.strptime(str(df1['Issuance Date'][ind])[0:10],'%Y-%m-%d')
        end=datetime.datetime.strptime(str(df1['Expiration Date'][ind])[0:10],'%Y-%m-%d')
        delta=end-start
        lst.append(delta.days)
    return lst
lst=compare(df1)

In [8]:
# get the ratio of >365
bl_lst=[]
for i in lst:
    if i >365:
        bl_lst.append(True)
    else:
        bl_lst.append(False)

In [9]:
# attach bl_lst to the df1(cleaned one)
bl_df=pd.DataFrame(bl_lst,columns=['BL'])
df1=pd.concat([bl_df,df1['BOROUGH']],axis=1)
grouped=df1.groupby('BOROUGH')

In [10]:
lst_name=[]
lst_num=[]
for name, group in grouped:
    tf=group['BL']
    dic1=dict(tf.value_counts().items())
    N=dic1[True]
    lst_name.append(name)
    lst_num.append(N)
df2=pd.DataFrame(lst_num,index=lst_name,columns=['Number of Cars at least one-year'])
lst_name=[]
lst_num=[]
for name, group in grouped:
    tf=group['BL']
    dic1=dict(tf.value_counts().items())
    N=dic1[False]
    lst_name.append(name)
    lst_num.append(N)
x=pd.DataFrame(lst_num,index=lst_name,columns=['Number of Cars less than one-year'])
df2=pd.concat([df2,x],axis=1) 
df2.head()
name=df2.idxmax(axis=0)[0]
ratio=df2.loc[name][0]/(df2.loc[name][0]+df2.loc[name][1])
print(ratio)

0.0696188404201178

In [11]:
# Fourth Question
df1=df[pd.isna(df['Issuance Date'])==False]
lst=df1['Issuance Date']
lst1=[]
for i in lst:
    i=int(i[0:4])
    lst1.append(i)
df1['Year']=lst1
# get the frequency
years=[year for year in df1['Year'].value_counts().items()]
x=[]
y=[]
for i in years:
    x.append(i[0])
    y.append(i[1])
df3=pd.DataFrame(y,index=x,columns=['#'])
df3=df3[df3.index>=1990]
df3=df3[df3.index<=2012]
df3=df3.sort_index()
x=np.array(df3.index).reshape((-1,1))
y=np.array(df3['#'])
from sklearn.linear_model import LinearRegression
reg=LinearRegression().fit(X=x,y=y)
r2=reg.score(x,y)

In [12]:
# question 5
# get year between 2012 to 1990
df1=df[pd.isna(df['Issuance Date'])==False]
df1=df1[pd.isna(df1['Expiration Date'])==False]
lst1=[]
lst=df1['Issuance Date']
for i in lst:
    i=int(i[0:4])
    lst1.append(i)
df1['Year']=pd.Series(lst1)
df1=df1[df1['Year']>=1990]
df1=df1[df1['Year']<=2012]

# get # the date of >60
bl_lst=[]
lst=compare(df1)
for i in lst:
    if i >=60:
        bl_lst.append(True)
    else:
        bl_lst.append(False)
df1['TF']=pd.Series(bl_lst)

In [13]:
#Separate into two groups one in November, one not
lst=df1['Job Start Date']
lst_Nov=[]
for i in lst:
    i=str(i)
    i=i[5:7]
    if i=='11':
        i='November'
        lst_Nov.append(i)
    else:
        i='Not November'
        lst_Nov.append(i)
df1['Month']=pd.Series(lst_Nov)
df2=pd.concat([df1['TF'],df1['Month']],axis=1)

In [14]:
group1=df2.groupby('TF')
group1['Month'].value_counts()

TF     Month
False  Not November     146901
       November          20387
True   Not November    1992708
       November         166461
Name: Month, dtype: int64

In [15]:
from scipy.stats import chi2_contingency
from scipy.stats import chi2
group1=df2.groupby('TF')
value=dict(group1['Month'].value_counts().items())
print(value)
a,b,c,d=list(value.values())[0],list(value.values())[1],list(value.values())[2],list(value.values())[3]
table=[[a,b],[c,d]]
stat, p, dof, expected = chi2_contingency(table)
print(stat)

{(False, 'Not November'): 146901, (False, 'November'): 20387, (True, 'Not November'): 1992708, (True, 'November'): 166461}
4212.970726517267

In [16]:
critical = chi2.ppf(0.95, dof)
stat>=critical
# Refuse H0 that they are not independent

True

In [17]:
df2=df1[df1['Job Start Date']!='71/23/2002']

In [18]:
lst_anomoly=[]
lst=df1['Job Start Date']
for i in lst[0:len(lst)]:
    try:     
        i=str(i)
        p=i[0:4]
        q=int(p)
    except:
        lst_anomoly.append(i)
# Find Anomly in Job Start Date '71/23/2002', Discard this

In [76]:
#question 6
import re
def get_month(dfSeries):
    lst=[]
    for i in dfSeries:
        i=str(i)
        i=int(i[5:7])
        lst.append(i)
    lst=pd.Series(lst)
    return lst
df1=df[pd.isna(df['Job Start Date'])==False]
# Test anomoly and discard it
lst_anomoly=[]
lst=df1['Job Start Date']
for i in lst[0:len(lst)]:
    try:     
        i=str(i)
        p=i[0:4]
        q=int(p)
    except:
        lst_anomoly.append(i)
df1.head()
criterion=df1['Job Start Date'].isin(lst_anomoly)
df1=df1[~criterion]
lst=df1['Job Start Date']

0    2010-11-05T00:00:00
1    2002-08-08T00:00:00
2    2005-08-29T00:00:00
3    1998-08-31T00:00:00
4    2007-04-30T00:00:00
5    1994-04-22T00:00:00
6    2007-06-12T00:00:00
7    2008-10-31T00:00:00
8    2000-10-27T00:00:00
9    2005-07-01T00:00:00
Name: Job Start Date, dtype: object

In [79]:
# attach 'Year' to the df
lst1=[]
for i in lst:
    i=str(i)
    i=i[0:4]
    i=int(i)
    lst1.append(i)
df1['Year']=pd.Series(lst1)
df1=df1[df1['Year']>=1990]
df1=df1[df1['Year']<=2012]

In [93]:
# Group by years and calculate the ratio of summer vs winter
lst_month=get_month(df1['Job Start Date'])
df1['Month']=pd.Series(lst_month)
df2=df1[['Job Start Date','Month','Year']]
df2.head(20)
grouped=df2.groupby('Year')
lst_name=[]
lst_ratio=[]
for name,group in grouped:
    summer=group[(group['Month']==7)|(group['Month']==8)].count()[0]
    winter=group[(group['Month']==1)|(group['Month']==2)].count()[0]
    ratio=summer/winter
    lst_name.append(name)
    lst_ratio.append(ratio)
pd.DataFrame(lst_ratio,index=pd.Series(lst_name),columns=['Ratio']).idxmax()

Ratio    1990.0
dtype: float64

In [103]:
df4=pd.DataFrame(lst_ratio,index=pd.Series(lst_name),columns=['Ratio'])
df4.loc[1990,]

Ratio    1.306174
Name: 1990.0, dtype: float64

In [51]:
import re
a='00/30/1997' 
x=re.search(lst_anomoly[2],a)

False

In [41]:
print(x)

None